<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New Order</title>
    <script type="text/javascript" src="{{url_for('static', filename='javascripts/jquery.js')}}"></script>
</head>

<body>
    <form action="#" method="post">
        <p>user_id：<input type="text" name="user_id" ></p>
        <p>store_id：<input type="text" name="store_id" ></p>
        <p>book_info：<input type="text" name="book_info" ></p>
        <button type="submit">submit</button>
    </form>
</body>


</html>