<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Change password</title>
</head>
<body>
    <form action="#" method="post">
        <p>name：<input type="text" name="username" required="required" ></p>
        <p>old password：<input type="password" name="old_pwd" required="required"></p>
        <p>new password：<input type="password" name="new_pwd" required="required" ></p>
        <button type="submit">submit</button>
    </form>
</body>
</html>