<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <form action="#" method="post">
        <p>name：<input type="text" name="username" required="required"></p>
        <p>password：<input type="password" name="password" required="required"></p>
        <p>tel：<input type="tel" name="tel" required="required"></p>
        <p>address<input type="text" name="address" required="required"></p>
        <button type="submit">submit</button>
    </form>
</body>
</html>